.sidebar {
    padding: 10px;

    .clicked-place {
        .row {
            margin-bottom: 7px;
    
            .label {
                font-weight: bold;
                min-width: 50px;
            }
        }
    }
}